@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p style="direction:rtl">پرداخت از طریق درگاه زرین‌پال با کارت‌های شبکه شتاب</p>
            <br />
            <p style="direction:rtl">پس از تایید نهایی سفارش به درگاه پرداخت هدایت خواهید شد. پس از انجام پرداخت به صورت اتوماتیک به همین سایت بازخواهید گشت و نتیجه به اطلاع شما خواهد رسید.</p>
        </td>
    </tr>
</table>
